@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  z-index: 1;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  margin: 0;
  list-style: none;
}

section {
  padding: 1px;
}

@keyframes bars {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0.1);
    opacity: 0;
  }
}
@keyframes like__noBG {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes like__BG {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
    background-image: linear-gradient(to top right, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    opacity: 0.5;
    background-image: linear-gradient(to top right, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75% {
    opacity: 0.75;
    background-image: linear-gradient(to top right, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    opacity: 1;
    background-image: linear-gradient(to top right, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.header {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 10px #0000003d;
}
.header__logo {
  font-family: Shrikhand;
  margin: 0;
}

.footer {
  background-color: #0f0f0fdc;
  color: white;
  display: block;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
}
.footer__logo {
  font-family: Shrikhand;
  margin: 0;
  padding-bottom: 1rem;
}
.footer__list {
  padding: 0;
}
.footer__list li {
  padding: 0.3rem 0;
}
.footer__list--link {
  color: white;
}

.loading {
  pointer-events: none;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
}
.loading .load {
  width: 15rem;
  height: 17rem;
  display: flex;
  justify-content: space-around;
}
.loading .load__bar {
  border-radius: 70%;
  height: 100%;
  width: 1.8rem;
  animation: bars 1000ms forwards alternate;
  animation-iteration-count: 3;
}
.loading .load__bar--1 {
  animation-delay: 333.3333333333ms;
}
.loading .load__bar--2 {
  animation-delay: 666.6666666667ms;
}
.loading .load__bar--3 {
  animation-delay: 1000ms;
}
.loading .load__bar--1 {
  background-color: #9356DC;
}
.loading .load__bar--2 {
  background-color: #FF79DA;
}
.loading .load__bar--3 {
  background-color: #99E2D0;
}

.location {
  background-color: rgba(122, 121, 121, 0.158);
  display: flex;
  justify-content: center;
  text-align: center;
}
.location__text {
  padding: 1rem;
  font-weight: 500;
}
.location i {
  align-self: center;
}

.discover {
  padding: 2rem 3rem 2rem 3rem;
  text-align: center;
  background-color: whitesmoke;
}
.discover__title {
  margin-bottom: 1rem;
}
.discover__text {
  font-weight: 300;
}
.discover__btn {
  padding: 10rem;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  border-radius: 100px;
  color: white;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.discover__btn:hover {
  filter: brightness(1.15);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.functioning {
  padding: 1.2rem;
  background-color: white;
}
.functioning__bloc {
  padding: 1rem 0 1rem 1rem;
}
.functioning__bloc--step {
  padding: 1.5rem;
  margin: 0 0 1.5rem 0;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: whitesmoke;
  position: relative;
}
.functioning__bloc--step i {
  padding-right: 0.75rem;
  color: grey;
}
.functioning__bloc--step--number {
  background: #9356DC;
  color: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -0.75rem;
}
.functioning__bloc--step:hover {
  background-color: #efe6fa;
}
.functioning__bloc--step:hover i {
  color: #9356DC;
}

.restaurant {
  background-color: whitesmoke;
  padding: 1.2rem;
}
.restaurant__bloc {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
.restaurant__bloc .card {
  background-color: white;
  border-radius: 1rem;
  display: block;
  box-shadow: 0 5px 10px #0000001a;
  position: relative;
}
.restaurant__bloc .card__img {
  height: 11rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.restaurant__bloc .card__tag {
  padding: 0.4rem 0.8rem;
  background-color: #99E2D0;
  color: #278870;
  border-radius: 0.2rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.restaurant__bloc .card__foot {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.restaurant__bloc .card__foot--info--title {
  margin: 0;
  margin-bottom: 0.3rem;
}
.restaurant__bloc .card__foot--like {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 1;
}
.restaurant__bloc .card__foot--like .noBG {
  left: -0.4px;
  position: relative;
}
.restaurant__bloc .card__foot--like .noBG:hover {
  animation: like__noBG 0.5s forwards;
}
.restaurant__bloc .card__foot--like .BG {
  position: absolute;
  top: 0px;
  opacity: 0;
  color: #FFF;
}
.restaurant__bloc .card__foot--like .BG:hover {
  animation: like__BG 0.5s forwards;
}

.header__backarrow {
  position: relative;
}
.header__backarrow--link--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3b3b3b;
  position: absolute;
  left: 1.5rem;
  top: 1.3rem;
  font-size: 1.4rem;
}

.imgtop {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.menu {
  border-radius: 2rem 2rem 0 0;
  background-color: whitesmoke;
  position: relative;
  margin-top: -4rem;
}
.menu__head {
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem 0 1rem;
}
.menu__head--title {
  font-family: Shrikhand;
}
.menu__head--like {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 40px;
  top: 1;
}
.menu__head--like .noBG {
  left: -0.4px;
  position: relative;
}
.menu__head--like .noBG:hover {
  animation: like__noBG 0.5s forwards;
}
.menu__head--like .BG {
  position: absolute;
  top: 0px;
  opacity: 0;
  color: #FFF;
}
.menu__head--like .BG:hover {
  animation: like__BG 0.5s forwards;
}

/*# sourceMappingURL=styles.css.map */
